<launch>

	<arg name="port" default="/dev/ttyAMA0" />
    <arg name="baud" default="1000000" />

	<!-- Start topics -->
	<include file="$(find mycobot_communication)/launch/communication_topic.launch">
		<arg name="port" value="$(arg port)" />
        <arg name="baud" value="$(arg baud)" />
	</include>

	<!-- Start services -->
	<include file="$(find mycobot_communication)/launch/communication_service.launch">
		<arg name="port" value="$(arg port)" />
        <arg name="baud" value="$(arg baud)" />
	</include>

	<node name="head_to_base_broadcaster" pkg="mycobot_280" type="head_to_base_broadcaster.py" output="screen" />

</launch>

