<launch>

    <node name="camera_feed_publisher" pkg="mycobot_280" type="camera_feed.py" output="screen" />
    <node name="hand_tracker" pkg="mycobot_280" type="hand_tracker.py" output="screen" />
    <node name="hand_detector" pkg="mycobot_280" type="hand_detector.py" output="screen" />
    <node name="gesture_detector" pkg="mycobot_280" type="gesture_detector.py" output="screen" />

</launch>